%html
  %head
    %link{:href => url('stylesheets/materialize.css'), :rel => "stylesheet", :type => "text/css"}
    %link{:href => url('stylesheets/style.css'), :rel => "stylesheet", :type => "text/css"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= @title
  %body
    %script{:type => "text/javascript", :src => "https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:type => "text/javascript", :src => url('js/bin/materialize.min.js')}

  %header
    .container.valign-wrapper
      .ad-space.lug#top-left
        <!-- lug-left [async] -->
        <script type="text/javascript">if (!window.AdButler){(function(){var s = document.createElement("script"); s.async = true; s.type = "text/javascript";s.src = 'http://ab168148.adbutler-exciton.com/app.js';var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(s, n);}());}</script>
        <script type="text/javascript">
        var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];
        var abkw = window.abkw || '';
        var plc207439 = window.plc207439 || 0;
        document.write('<'+'div id="placement_207439_'+plc207439+'"></'+'div>');
        AdButler.ads.push({handler: function(opt){ AdButler.register(168148, 207439, [120,120], 'placement_207439_'+opt.place, opt); }, opt: { place: plc207439++, keywords: abkw, domain: 'ab168148.adbutler-exciton.com', click:'CLICK_MACRO_PLACEHOLDER' }});
        </script>
      %img.responsive-img#logo{:src => url('images/header-logo-400px.png'), :alt => "The Blenheim Sun online"}
      .ad-space.lug#top-right
        <!-- lug-right [async] -->
        <script type="text/javascript">if (!window.AdButler){(function(){var s = document.createElement("script"); s.async = true; s.type = "text/javascript";s.src = 'http://ab168148.adbutler-exciton.com/app.js';var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(s, n);}());}</script>
        <script type="text/javascript">
        var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];
        var abkw = window.abkw || '';
        var plc207440 = window.plc207440 || 0;
        document.write('<'+'div id="placement_207440_'+plc207440+'"></'+'div>');
        AdButler.ads.push({handler: function(opt){ AdButler.register(168148, 207440, [120,120], 'placement_207440_'+opt.place, opt); }, opt: { place: plc207440++, keywords: abkw, domain: 'ab168148.adbutler-exciton.com', click:'CLICK_MACRO_PLACEHOLDER' }});
        </script>
  #info
    .container.info
      #info-wrapper
        %span#date.center-align
          = @date
        %span#view.center-align
          %a{:href => "#"}= "View paper"
        %span#weather.center-align
          Today: Sunny, increasing cloud.
  .container
    %nav
      .nav-wrapper
        %ul#nav.hide-on-med-and-down
          %li
            %a{:href => "#"}="Home"
          %li
            %a{:href => "#"}="Births/Deaths"
          %li
            %a{:href => "#"}="Classifieds"
          %li
            %a{:href => "#"}="About"
          %li
            %a{:href => "#"}="Contact"
          %li
            %a{:href => "#"}="Advertise"
  .container
    .ad-space.leaderboard#top
      <!-- leaderboard [async] -->
      <script type="text/javascript">if (!window.AdButler){(function(){var s = document.createElement("script"); s.async = true; s.type = "text/javascript";s.src = 'http://ab168148.adbutler-exciton.com/app.js';var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(s, n);}());}</script>
      <script type="text/javascript">
      var AdButler = AdButler || {}; AdButler.ads = AdButler.ads || [];
      var abkw = window.abkw || '';
      var plc207438 = window.plc207438 || 0;
      document.write('<'+'div id="placement_207438_'+plc207438+'"></'+'div>');
      AdButler.ads.push({handler: function(opt){ AdButler.register(168148, 207438, [940,90], 'placement_207438_'+opt.place, opt); }, opt: { place: plc207438++, keywords: abkw, domain: 'ab168148.adbutler-exciton.com', click:'CLICK_MACRO_PLACEHOLDER' }});
      </script>
  %main= yield

  .container
    %footer.page-footer
      .container
        .row
          .col.l6.s12
            %h5.white-text
              Footer content
            %p.white-text
              We at the Blenheim Sun are commited to accuracy. If you find any factual errors please let us know.
          .col.l4.offset-l2.s12
            %h5.white-text
              Links
            %ul
              %li
                %a.white-text{:href => "#"}= "Link1"
              %li
                %a.white-text{:href => "#"}= "Link2"
              %li
                %a.white-text{:href => "#"}= "Link3"
              %li
                %a.white-text{:href => "#"}= "Link4"
      .footer-copyright
        .container
          &copy The Blenheim Sun
          = Date.today.strftime '%Y'
